{% extends "home/base/base.html" %}
{% load static %}

{% block main %}

				<article id="post-71" class="post-71 page type-page status-publish hentry">

				
					<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters3">
		<div class="et_pb_section et_pb_section_0 et_pb_section_parallax et_pb_with_background et_pb_fullwidth_section et_section_regular">
				
				<span class="et_parallax_bg_wrap"><span class="et_parallax_bg" style="background-image: url(&quot;{% static 'home/images/banner4.png' %}&quot;); height: 835.175px; transform: translate(0px, 263.1px);"></span></span>
				
				
				
				
				<section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_text_align_center et_pb_bg_layout_dark">
				
				
				
				
				<div class="et_pb_fullwidth_header_container center">
					<div class="header-content-container center">
					<div class="header-content">
						
						<h1 class="et_pb_module_header">Benefits of Membership </h1>
						
						<div class="et_pb_header_content_wrapper"></div>
						
					</div>
				</div>
					
				</div>
				<div class="et_pb_fullwidth_header_overlay"></div>
				<div class="et_pb_fullwidth_header_scroll"></div>
			</section>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular">
				
				
				
				
				
				
				<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				
			</div><div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				
				
				<div class="et_pb_text_inner"><h5 style="text-align: center;">Comming Soon</h5></div>
			</div>
			</div>
				
				
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>

				
				</article>

{% endblock main %}