{% extends "home/base/base.html" %}

{% block main %}
<article id="post-52" class="post-52 page type-page status-publish hentry">
    <div class="entry-content">
        <div class="et-l et-l--post">
            <div class="et_builder_inner_content et_pb_gutters3">
                <div class="et_pb_section et_pb_section_0 et_section_regular">
                    <div class="et_pb_row et_pb_row_0">
                        <div class="et_pb_column et_pb_column_4_4 et_pb_column_0 et_pb_css_mix_blend_mode_passthrough et-last-child">
                            <div class="et_pb_module et_pb_text et_pb_text_0 et_pb_text_align_center et_pb_bg_layout_light">
                                <div class="et_pb_text_inner" style="padding-top: 180px">
                                    <h2><a href="" aria-current="page" style="text-decoration: none">SISPAB Secretariat</a></h2>
                                </div>
                            </div>
                            
                            <div class="et_pb_module et_pb_text et_pb_text_1 et_pb_text_align_center et_pb_bg_layout_light">
                                <div class="et_pb_text_inner">
                                    <h3><a href="" aria-current="page" style="text-decoration: none">Coming Soon</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock main %}